!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CDDA Issue Voter - All open issues
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/octicons.css", :rel => "stylesheet"}/
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    %script{:src => "/js/jquery-2.1.3.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/vote.js"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} CDDA IV
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => '/all'} All
            %li
              %a{:href => '/top'} Top
            %li
              %a{:href => '/bottom'} Bottom
            %li
              %a{:href => '/closed'} Closed
          %ul.nav.navbar-nav.navbar-right
            - if @user
              %li
                %a{:href => "/user/#{@user.login}"}= @user.login
            %li
              %a{:href => '/status'} Status
            %li
              %a{:href => 'https://github.com/drbig/cddaiv', :target => '_blank'} About
    .container
      = haml :header, layout: false
    .container
      - unless @user
        %a{:href => '#logreg'}
          %h4 You're not logged in. That means no voting for you.
      %h3 All open issues, by date
      = haml :filter, layout: false, locals: {stale: true}
      = haml :issues_open, layout: false
      %div.text-center
        = @issues.pager.to_html(@source)
    - unless @user
      = haml :logreg, layout: false
    .container
      = haml :footer, layout: false
