!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CDDA Issue Voter - Bottom 30
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-theme.css", :rel => "stylesheet"}/
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    %script{:src => "/js/bootstrap.js"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} CDDA IV
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => '/all'} All
            %li
              %a{:href => '/top'} Top
            %li.active
              %a{:href => '/bottom'} Bottom
            %li
              %a{:href => '/closed'} Closed
          %ul.nav.navbar-nav.navbar-right
            - if @user
              %li
                %a{:href => "/user/#{@user.login}"}= @user.login
              %li
                %a{:href => '/logout'} Logout
            %li
              %a{:href => 'https://github.com/drbig', :target => '_blank'} About
    .container
      %h3 Bottom 30 issues, by score
      %table.table.table-striped
        %tr
          %th{:align => 'center'} Score
          %th{:align => 'center'} Vote
          %th Title
          %th
            %span.glyphicon.glyphicon-info-sign
          %th Opened
        - @issues.each_with_index do |i, n|
          %tr
            %td{:align => 'center'}= i.score
            %td{:align => 'center'}
              - if @user
                - if v = @votes[n]
                  - if v.dir == :up
                    %a.plain{:href => "/vote/up/#{i.id}", :style => 'color: green'}
                      %span.glyphicon.glyphicon-arrow-up
                  - else
                    %a.plain{:href => "/vote/up/#{i.id}"}
                      %span.glyphicon.glyphicon-arrow-up
                  - if v.dir == :down
                    %a.plain{:href => "/vote/down/#{i.id}", :style => 'color: red'}
                      %span.glyphicon.glyphicon-arrow-down
                  - else
                    %a.plain{:href => "/vote/down/#{i.id}"}
                      %span.glyphicon.glyphicon-arrow-down
                - else
                  %a.plain{:href => "/vote/up/#{i.id}"}
                    %span.glyphicon.glyphicon-arrow-up
                  %a.plain{:href => "/vote/down/#{i.id}"}
                    %span.glyphicon.glyphicon-arrow-down
              - else
                %a.plain{:href => "#login"}
                  %span.glyphicon.glyphicon-ban-circle
            %td
              %a.plain{:href => "https://github.com/CleverRaven/Cataclysm-DDA/issues/#{i.num}", :target => '_blank'}= i.title
              %a.anchor{:name => "#{i.id}"} &nbsp;
            %td
              %a.plain{:href => "/issue/#{i.id}"}
                %span.glyphicon.glyphicon-search
            %td= i.from.strftime('%Y-%m-%d %H:%M')
    - unless @user
      .container
        %a{:name => 'login'}
        %h4 You're not logged in. That means no voting for you.
        %div.row
          %div.col-md-6
            %div.panel.panel-default
              %div.panel-heading Login here
              %div.panel-body
                %form{:role => "form", :action => "/login", :method => "post"}
                  .form-group
                    %input.form-control{:name => "login", :type => "text", :placeholder => "Login"}
                  .form-group
                    %input.form-control{:name => "pass", :type => "password", :placeholder => "Password"}
                  %input{:name => "source", :type => "hidden", :value => "/bottom"}
                  %button.btn.btn-success{:type => "submit"} Login
          %div.col-md-6
            %div.panel.panel-default
              %div.panel-heading Or register here
              %div.panel-body
                %form{:role => "form", :action => "/register", :method => "post"}
                  .form-group
                    %input.form-control{:name => "login", :type => "text", :placeholder => "Login"}
                  .form-group
                    %input.form-control{:name => "passa", :type => "password", :placeholder => "Password"}
                  .form-group
                    %input.form-control{:name => "passb", :type => "password", :placeholder => "Password again"}
                  .form-group
                    %input.form-control{:name => "email", :type => "email", :placeholder => "E-Mail"}
                  %input{:name => "source", :type => "hidden", :value => "/bottom"}
                  %button.btn.btn-success{:type => "submit"} Register
    .container
      .footer
        &copy; Copyright 2015 Piotr S. Staszewski
