!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title CDDA Issue Voter - Status
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    %script{:src => "/js/jquery-2.1.3.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} CDDA IV
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => '/all'} All
            %li
              %a{:href => '/top'} Top
            %li
              %a{:href => '/bottom'} Bottom
            %li
              %a{:href => '/closed'} Closed
          %ul.nav.navbar-nav.navbar-right
            - if @user
              %li
                %a{:href => "/user/#{@user.login}"}= @user.login
            %li.active
              %a{:href => '/status'} Status
            %li
              %a{:href => 'https://github.com/drbig/cddaiv', :target => '_blank'} About
    .container
      %h3 Application status
      %h4 Database
      %table.table.table-striped
        %tr
          %th Issues
          %th Votes
          %th Users
        %tr
          %td= database[:issues]
          %td= database[:votes]
          %td= database[:users]
      %h4 Mailer
      %table.table.table-striped
        %tr
          %th State
          %th Sent
          %th Errors
        %tr
          %td= mailer.state
          %td= mailer.sent
          %td= mailer.errors
      %h4 Scheduler
      %table.table.table-striped
        %tr
          %th Job
          %th Last
          %th Next
        - scheduler.each do |j|
          %tr
            %td= j.name
            %td= j.last
            %td= j.next
      %b= "Software version: CDDA IV #{ver}"
      %br
      %br
      .panel.panel-warning
        .panel-heading
          %span.glyphicon.glyphicon-exclamation-sign{'aria-hidden' => 'true'}
          Bug reporting
        .panel-body
          Before you report a bug please check your votes, issue details and this very page for anything relevant.
          Always include OS and browser name, and any other information that you think might be related.
          Bug reporting should be done via GitHub issues, where the button below will take you.
          %br
          %br
          %a.btn.btn-danger{:href => 'https://github.com/drbig/cddaiv/issues', :target => '_blank'} Report a bug
    .container
      = haml :footer, layout: false
